:root {
  --query-field-width: 120px;
}

.accordion {
  background-color: var(--background-gray-2-medium-light);
}

.accordion__panel {
  background-color: var(--background-gray-2-medium-light);
  padding: 5px 15px 15px 15px;
  animation: fadein 0.15s ease-in;
}

.accordion-time-options {
  border: 1px solid var(--border-gray);
}

.input-label {
  margin-right: 5px;
}

.select {
  width: var(--query-field-width);
  display: inline-block;
}

.date-picker-container {
  width: fit-content;
}

.date-picker-field {
  width: var(--query-field-width);
  padding-left: 8px;
  padding-right: 8px;
}