.accordion {
  background-color: var(--background-gray-2-medium-light);
}

.accordion__panel {
  background-color: var(--background-gray-2-medium-light);
  padding: 5px 15px 15px 15px;
  animation: fadein 0.15s ease-in;
}

.input-label {
  margin-right: 5px;
}

.select {
  width: 150px;
  display: inline-block;
}